.table a
{
    display:block;
    text-decoration:none;
    color: black;
    text-align: right;
}
.table{
    table-layout: fixed;
}
.hoverEffect:hover{
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5);
}
.table td{
    height: 4rem;
}

.badge{
    cursor: pointer;
}
.bg-color{
    background-color: #20c997;
}
.bg-info-color{
    background-color: #20c997 !important;
    
}
.header select, .header input {
    color: white;
}